.about-us {
  background-color: #748a7e;
  font-family: "Fira Code", monospace;
  padding: 2rem;
  color: #cad3d9;

  @mixin atMedium {
    font-size: 1.6rem;
    font-weight: 100;
    padding: 9rem;
  }
}
