.atole-cup {
  background-color: #d4e9e1;
  margin-top: 3rem;

  &__container {
    @mixin atMedium {
      display: flex;
    }
  }
}

.atole-desc__container {
  @mixin atMedium {
    flex: 1;
  }
}

.atole-desc {
  font-size: 0.8rem;
  padding: 1rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  @mixin atMedium {
    margin-top: 3rem;
    transform: translateX(90px);

    font-size: 1.2rem;
    letter-spacing: 2;
    line-height: 33px;
  }
}

.atole-pic {
  width: 100%;
  @mixin atMedium {
    flex: 1;
  }
}

.pic-atole__container {
  text-align: center;
}

.pic-atole {
  width: 16.2375rem;
  height: 18.3475rem;
  margin-bottom: 2rem;

  @mixin atMedium {
    margin-top: 2rem;

    width: 19.3695rem;
    height: 21.1875rem;
  }
}
