.atole-cup {
  background-color: #d4e9e1;
  margin-top: 3rem;

  &__container {
    @mixin atMedium {
      display: flex;
    }
  }

  &__brown {
    background-color: #f5efe0;
  }

  &__no-margin-top {
    margin-top: 0;
  }

  &__depper-green {
    background-color: #09755a;
  }
}

.atole-cup-margin-top {
  margin-top: 300px;
}

.atole-desc__container {
  @mixin atMedium {
    flex: 1;
  }
}

.atole-desc {
  padding: 3rem;
  text-align: center;

  @mixin atMedium {
    margin-top: 3rem;
  }
}

.atole-pic {
  width: 100%;

  @mixin atMedium {
    flex: 1;
  }

  &__bg-color-modifier {
    background-color: #ffffff;
    @mixin atMedium {
      background-color: #d4e9e1;
    }
  }
}

.pic-atole__container {
  text-align: center;
}

.pic-atole {
  width: 16.2375rem;
  height: 18.3475rem;
  margin-bottom: 2rem;

  @mixin atMedium {
    margin-top: 2rem;

    width: 19.3695rem;
    height: 21.1875rem;
  }
}

.cup-of-coffee {
  max-width: 260px;
  @mixin atMedium {
    max-width: 300px;
  }
}
