.cacao {
  position: relative;
  width: 100%;
  height: 300px;

  background-color: #d4e9e1;

  @mixin atMedium {
    height: 800px;
  }
}

.img-cacao {
  background-color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 8.3rem;
  height: 8.3rem;

  border-radius: 0 80% 0 0;

  @mixin atMedium {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 25rem;
    height: 24.375rem;
    border-radius: 0 80% 0 0;
  }
}

.image-cacao {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 10rem;
  height: 8.125rem;
  @mixin atMedium {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 33.125rem;
    height: 25.625rem;
  }
}

.contact {
  @mixin atMedium {
    position: absolute;
    bottom: 30%;
    right: 10%;
    width: 888px;
    height: 306px;

    display: flex;
  }
}

.icons {
  flex: 1;
}

.address {
  flex: 1;
}

.insta-img {
  width: 40px;
  height: 40px;
  padding: 1rem;
}

.fb-img {
  padding: 1rem;
}

.encuentra {
  border-bottom: 1px solid #333333;
}
