.calientes {
  width: 100%;
  background-color: wheat;

  @mixin atMedium {
    width: 50%;
  }

  &__container {
    display: flex;
    padding: 2rem;
    justify-content: space-between;

    @mixin atMedium {
      padding: 3rem 9rem;
      font-size: 1.1rem;
    }
  }
}
