.especialidades {
  &__container {
    border: 2px solid #333333;
    margin-top: 6rem;
    margin-bottom: 6rem;
  }

  &__column-one {
    font-family: "Fira Code", monospace;
    font-size: 1.3rem;
    background-image: url("./assets/images/cacao-hd-1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    text-align: justify;

    border: 1px solid #333333;
    margin: 1rem;

    p {
      padding: 0.2rem 0 0.2rem;
      margin-left: 26rem;
    }
  }
}
