.especialidades {
  width: 100%;

  @mixin atMedium {
    font-size: 1.2rem;
  }
  &__item {
    padding: 0.3rem;

    p {
      position: relative;
    }
    @mixin atMedium {
      width: 46%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__outside-border {
    margin: 1rem;
    border: 3px solid #fbf6f6;
    background-color: #eab798;
  }

  &__inner-border {
    margin: 1rem;
    border: 3px solid #fbf6f6;

    @mixin atMedium {
      padding: 0.3rem;
    }
  }
}

.fav-price {
  position: absolute;
  top: 0;
  right: 0;
}

.smaller {
  font-size: smaller;

  &__no-m-b {
    margin-top: -1rem;
  }
}
