.jugos {
  &__columns {
    font-family: "Fira Code", monospace;

    @mixin atMedium {
      display: flex;
    }
  }
}

.jugo {
  margin: 0;

  @mixin atSmall {
    margin: 1rem;
    padding: 1.3rem 0 0 0.3rem;
  }
}

.jugo h3 {
  margin-top: 40px;
  margin-bottom: -10px;
  @mixin atSmall {
    margin-top: 0;
    margin-bottom: 0;

    font-size: 1.6rem;
    font-weight: 400;
  }
}

.jugo p {
  color: #606a69;
  @mixin atSmall {
    font-size: 1.4rem;
  }
}
