.jugos {
  h3 {
    font-family: "Fira Code", monospace;
    position: relative;
    @mixin atMedium {
      font-size: 1.3rem;
      letter-spacing: 1px;
    }
  }

  p {
    font-family: "Fira Code", monospace;
    @mixin atMedium {
      font-size: 1.2rem;
      letter-spacing: 1px;
    }
  }

  &__column-1 {
    width: 100%;
  }

  &__column-2 {
    width: 100%;
  }

  &__column-3 {
    width: 100%;
  }

  &__extra-padding {
    @mixin atMedium {
      padding: 2rem 6rem;
    }
  }
}

.jugo {
  padding: 1rem;
  height: 5.625rem;

  @mixin atMedium {
    padding: 2rem;
  }

  &__smaller {
    height: 3.725rem;

    @mixin atMedium {
      height: 3.975rem;
    }
  }

  &__smallest {
    height: 1.225rem;
  }
}

.price {
  position: absolute;
  top: 0;
  right: 0;
}
