.large-hero {
  margin-top: 2rem;
  display: flex;

  &__first {
    flex: 1;
  }

  &__middle {
    flex: 1;
    text-align: center;
    font-size: 4.2rem;
    font-weight: 500;
    letter-spacing: 1rem;
    color: #0d755b;
    display: flex;

    @mixin atSmall {
      font-size: 4.8rem;
      font-weight: 700;
      letter-spacing: 1rem;
    }

    @mixin atMedium {
      font-size: 6.8rem;
      font-weight: 700;
      letter-spacing: 1.3rem;
    }
  }

  &__last {
    flex: 1;
  }

  img {
    max-width: 8rem;
    margin-top: 80px;
    margin-left: -10px;

    @mixin atSmall {
      max-width: 9rem;
      margin-top: 100px;
      margin-left: -10px;
    }

    @mixin atMedium {
      max-width: 12.75rem;
      margin-top: 120px;
      margin-left: -10px;
    }
  }

  &__subtitle-y-mas {
    float: left;
    position: absolute;
    top: 11.85rem;
    right: -5rem;
    font-size: 0.9rem;
    font-family: "Roboto Mono", monospace;
    font-weight: bold;

    @mixin atSmall {
      position: absolute;
      top: 13.75rem;
      right: 3rem;
    }

    @mixin atMedium {
      font-size: 1.2rem;
      position: absolute;
      top: 17.6rem;
      left: 26.25rem;
    }

    @mixin atLarge {
      font-size: 1.3rem;
      position: absolute;
      top: 280px;
      left: 43.75rem;
    }
  }
}

.border-bottom-line {
  border-bottom: 3px solid #ffd471;
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;

  @mixin atSmall {
    margin-bottom: 9rem;
    max-width: 900px;
    border-bottom: 3px solid #ffd471;
  }

  @mixin atMedium {
    margin-bottom: 9rem;
    max-width: 1280px;
    border-bottom: 5px solid #ffd471;
  }
}
