.large-hero {
  &__middle {
    font-size: 4.2rem;
    letter-spacing: 0.51rem;
    font-weight: 500;
    color: #0d755b;
    display: flex;

    border: 1px solid palevioletred;

    @mixin atSmall {
      font-size: 4.8rem;
      font-weight: 700;
      letter-spacing: 1rem;
    }

    @mixin atMedium {
      font-size: 6.8rem;
      font-weight: 700;
      letter-spacing: 1.3rem;
    }
  }

  img {
    max-width: 8rem;
    margin-top: 80px;
    margin-left: -10px;

    @mixin atSmall {
      max-width: 9rem;
      margin-top: 100px;
      margin-left: -10px;
    }

    @mixin atMedium {
      max-width: 12.75rem;
      margin-top: 120px;
      margin-left: -10px;
    }
  }

  &__subtitle-y-mas {
    border: 1px solid lightblue;
  }
}

.border-bottom-line {
  border-bottom: 3px solid #ffd471;
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;

  @mixin atSmall {
    margin-bottom: 9rem;
    max-width: 900px;
    border-bottom: 3px solid #ffd471;
  }

  @mixin atMedium {
    margin-bottom: 9rem;
    max-width: 1280px;
    border-bottom: 5px solid #ffd471;
  }
}
