.large-hero {
  text-align: center;

  padding: 1rem;

  &__title {
    color: #748a7e;
    font-size: 3rem;
    margin: 0;

    @mixin atMedium {
      font-size: 6.8rem;
      letter-spacing: 9px;
    }
  }

  &__title-m {
    color: #c14417;
  }

  &__subtitle {
    margin: 0;
    font-size: 0.8rem;
    color: #152638;
    @mixin atMedium {
      font-size: 1.2rem;
    }
  }
}
