.section {
  margin-top: 3rem;
  margin-bottom: 3rem;
  @mixin atMedium {
    margin-top: 6rem;
    margin-bottom: 9rem;
  }
}

.inner-container {
  width: 100%;

  @mixin atMedium {
    display: flex;
  }
}
