.section {
  margin-top: 3rem;
  margin-bottom: 3rem;
  @mixin atMedium {
    margin-top: 6rem;
    margin-bottom: 6rem;
  }
}

.inner-container {
  width: 100%;

  @mixin atMedium {
    display: flex;
  }

  &__with-border {
    border: 1px solid #333;
  }
}
