.title {
  font-family: "Yusei Magic", sans-serif;
  text-align: center;
  padding-top: 2rem;

  @mixin atMedium {
    font-size: 2.6rem;
    letter-spacing: 3px;
  }

  &__m-b {
    @mixin atMedium {
      margin-bottom: 3rem;
    }
  }

  &__smaller {
    @mixin atMedium {
      font-size: 2.4rem;
    }
  }
}
